#Page {
    width    : fit-content;
    max-width: 100%;
    padding  : min(5em, 7.5vw);
}

#Canvas {
    box-sizing      : content-box;
    display         : flex;
    align-items     : center;
    width           : 34ch;
    padding         : var(--cmp-spacing);
    overflow-y      : auto;
    background-color: var(--darken);
    white-space     : nowrap;
}

#Canvas.sEmpty {
    color: var(--dark-gray);
}