button,
label.Toggle {
    border: var(--border-std);
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font: 0.8em var(--ff-mono);
    padding: 0.5em;
    user-select: none;
    white-space: nowrap;
}

button:focus,
label.Toggle:has(input[type="checkbox"]:focus) {
    outline: var(--border-focus);
    outline-offset: 2px;
}

button:disabled,
label.Toggle:has(input[type="checkbox"]:disabled) {
    cursor: not-allowed;
    opacity: 0.5;
}

button {
    background-color: var(--green);
    color: var(--white);
}

label.Toggle>input[type="checkbox"] {
    height: 0;
    position: absolute;
    width: 0;
}

label.Toggle:has(input[type="checkbox"]:checked) {
    background-color: var(--black);
    color: var(--white);
}

label.Toggle::after {
    content: "[ ]";
}

label.Toggle:has(input[type="checkbox"]:checked)::after {
    content: "[x]";
}