:root {
	--black     : #111;
	--dark-gray : #888;
	--light-gray: #CCC;
	--white     : #FFF;
	--green     : #1E6149;
	--yellow    : #F1D483;
	--darken    : #0001
}

.tGray {
	color: var(--dark-gray);
}