@import url(reset.css);
@import url(color.css);
@import url(semantic.css);
@import url(typography.css);

@import url(forms/form.css);
@import url(forms/input.css);
@import url(forms/button.css);

@import url(elements/flexbox.css);

:root {
    --dbl-spacing: 2em;
    --std-spacing: 1em;
    --cmp-spacing: 0.5em;

    --color-fg: var(--black);
    --color-bg: var(--white);

    --border-std   : 1px dotted var(--black);
    --border-slight: 1px solid var(--light-gray);
    --border-focus : 1px dashed var(--dark-gray);
}

body {
    background-color: var(--color-bg);
}

::selection {
    background-color: var(--yellow);
    color           : var(--color-fg);
}

* {
    box-sizing: border-box;
}