.Flexbox {
    display: flex;
}

.Flexbox.mCol {
    flex-direction: column;
}

.Flexbox.mSpaceBtwn {
    justify-content: space-between;
}

.Flexbox.mDblSpacing {
    grid-gap: var(--dbl-spacing)
}

.Flexbox.mStdSpacing {
    grid-gap: var(--std-spacing)
}

.Flexbox.mCmpSpacing {
    grid-gap: var(--cmp-spacing)
}

.Flexbox.mVAlignCenter {
    align-items: center;
}

.Flexbox>.iGrow {
    flex-grow: 1;
}
